@import url('https://fonts.googlepis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    border-top: 2px solid goldenrod ;
}

.wrapper a{
    text-decoration: none;
    color: 2px solid goldenrod ;
}

.text-muted {
    font-size: 11px;
}

.login-page{
background-image: url('../images/backgroundgold.png');
background-size: cover;
background-position: center; 
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
height: 80%;
}

.login-page form{
    width: 50%;
    max-width: 400px; 
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 150px;
    display: flex;
    flex-direction: column; 
}

.btn-primary{
    width:100%;
    border: none;
    border-radius: 50px;
    background-color: #29f700;
    border-color: #29f700;
}

.form-control{
    color: rgba(0,0,0,.87);
    border-top-color: rgba(0,0,0,.42);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    /*border: none;
    border-bottom: 1px solid;*/
    border-radius: 4px 4px 0 0;
}

h4{
   font-size: 2rem !important;
   font-weight: 700;
   align-items: center;
}

.form-label{
    font-weight: 700 !important;
}
@media only screen and (max-width: 600px){
    form{
        width: 100% !important;
    }
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0.5rem 3rem 0.5rem 4rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}

.navbar .navbar-brand{
    font-size:25px;
    font-weight:400;
    color: goldenrod !important;
}


.navbar-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navbar>.container-fluid{
    display: flex;
    justify-content: space-between;
    flex-direction: row;   
}

form.search {
    display: flex;
    flex-direction: row;
    margin: 0 3em 0 0 !important;
    align-items: center;
    justify-content: center;
  } 

  .search > input {
    padding: 0.3em;
    outline: none;
    border: 1px solid #29f700;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search > button {
    background-color: #29f700;
    padding: 0.3em !important;
    border: 1px solid #29f700;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  @media only screen and (max-width: 1199px) {
    form.search {
      margin: 1rem 0 1rem 0 !important;
    }
  }

#navbarSupportedContent a{
    color:#ffff;
    text-decoration: none;
    border-bottom: 2px solid transparent; 
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid peru ;
}

#navbarSupportedContent> button{
    background:#29f700;
    width: 5rem;
    border-radius:15px;
}


.log{
    margin-right: 4px !important ;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

/****Home****/

#home{
    background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)), url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    flex-direction: column;
}

#home h1{
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:    0px 1px 0px #CCC,
                    0px 2px 0px #CCC,
                    0px 3px 0px #CCC,
                    0px 4px 0px #CCC,
                    0px 5px 0px #CCC,
                    0px 6px 0px #CCC,
                    0px 7px 0px #CCC,
}

#home p{
    font-size: 18px;
    color: #fff;
}

#home .input-group{
    width: 40%;
    height: 45px;
}

.signin{
    background-color: green!important;
    color: white !important;
    border-radius: 50px important;
    width: 10rem;
    box-shadow: 2px 4px 5px rgba(0,0.0. .3);
}

.signin button:hover{
    background-color: white;
}


/****About****/
#about{
    background: linear-gradient(to right, goldenrod, black 100%);
}

#about h1{
    font-weight: 800;
    font-size:50px;
    color: white;
}

#about p{
    color: white;
}

/****Wavy, Coily, Straight HairProducts****/

.hairs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
  }

section {
    padding: 2rem 4rem !important;
  }

#wavy, #coily, #hairproducts, #straight{
    background: #e5e5e5;
    text-align: center;
}


#wavy, #coily, #straight, #hairproducts h1{
    font-size:20px;
    letter-spacing: 1px;
    font-weight: 600;
}

#wavy, #coily, #straight, #hairproducts img{
    width: 100%;
    height: auto;
}
#wavy, #coily, #straight, #hairproducts {
    background: #e5e5e5;
    text-align: center;
}

.card-title > a{
    text-decoration: none;
    color: goldenrod;
}

.card-title > a:hover{
    text-decoration: none;
    color: black;
}

.card > img {
    /* width: 200px; */
    height: 250px;
    margin: 0 0 1em 0;
    border-radius: 20px !important;
  }


.card{
    width: 250px;
    height: 500px;
    background-color: #e5e5e5 !important;
    border: none !important;
    /* border: 1px solid green; */
    box-shadow: 15px 20px 20px rgba(0,0,0,.3);
                inset: 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 2em;
}

.card:hover {
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3);
                inset: -4px -4px 10px white;
    transition: 2s;
}

/****Contact****/
#contact img{
    height: 100%;
    width: 70%;
    margin-bottom: 20px; 
}

.box{
    width: 80% !important;
    /*background: red; */
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
}

#contact input{
    margin: 12px, 0px;
}

#contact textarea{
    margin: 12px, 0px;
}

/****Shopping cart****/
.cart-card{
    width: 900px;
    height: 400px;
    background-color: white;
    border: none !important;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.checkout{
    text-decoration: none;
    background-color:#29f700;
    padding: 1em 2em;
    color: black;
    border-radius: 8px;
    text-align: center;
}

.heading{
    background-color: goldenrod !important; 
}
/* th{
    padding-left: 20px;
} */


/****Userprofile****/
.navbar-links{
    align-items: right;

}

.carder{
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Checkout*/

.form-check-input:checked {
    background-color: black; /*Checked color*/
    border-color: goldenrod; /* Checked border color */
   }

.disabled {
    pointer-events: none;
    cursor: default; 
}

.checkout-card {
    width: 900px;
    height: 400px;
    background-color: white;
    border: none !important;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* .cart-table{
    border: 1px solid #000; 
} */
   /* Custom checkmark */
.form-check-input:checked::before {
    content: "2713"; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: goldenrod !important; /* Checkmark color */
}  

   /* Hide the default checkmark */
.form-check-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   }