{% extends './base.html' %}
{% load static %}


{% block content %}
 <div class="login-page container-fluid">
    <h2>Login</h2>
    <form class="mt-4"  method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h4 class="text-center">Login</h4>
        <div class="mb-3 mt-5">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password" name="password" required>
            <div id="emailHelp" class="form-text mt-3">Forget Password?</div>
        </div>
    </form>
   <button type="submit"class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
{% block footer %}
<!-- Empty block to remove the footer -->
{% endblock %}

