{% extends './base.html' %}
{% load static %}

{% block navbar %}
<!-- Empty navbar block to hide navbar -->
{% endblock %}

{% block content %}

    {% if messages %}
     {% for message in messages %}
     <div class="alert alert-warning alert-dismissable fade show" role="alert">  
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endfor %}
    {%  endif %}
    
 <div class="login-page container-fluid">
    <form class="mt-4"  method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h4 class="text-center">Login</h4>
        <div class="mb-3 mt-5">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password" name="password" required>
            <a href="{% url 'password_reset' %}" class="form-text mt-3">Forgot Password?</a>
        </div>
        <button type="submit"class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
{% block footer %}
<!-- Empty block to remove the footer -->
{% endblock %}

