{% extends './base.html' %}
{% load static %}


{% block navbar %}
<!-- Empty navbar block to hide navbar -->
{% endblock %}

{% block content %}
    <h2>Forgotten Your Password? </h2>
    <p> Enter your e-mail address and we'll send you a link to reset your password.</p>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Send e-mail"></p>
    <!-- <button type="submit">Reset Password</button> -->
    </form>
{% endblock %}

