{% extends './base.html' %}
{% load static %}


{% block navbar %}
<!-- Empty navbar block to hide navbar -->
{% endblock %}

{% block content %}
<div class="login-page container">
    <h2>Forgotten Your Password? </h2>
    <p> Enter your e-mail address and we'll send you a link to reset your password.</p>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form class="mt-4"  method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Send e-mail"></p>
        <p> I remember my password </p>
        <a href="{% url 'login' %}" class="form-text mt-3">Log In</a>
 
    <!-- <button type="submit">Go back to Log In</button> -->
    </form>
</div>
{% endblock %}

<!-- <div class="login-page container-fluid">
    <form  method="POST" action="">
        {% csrf_token %}
        <h4 class="text-center">Login</h4>
        <div class="mb-3 mt-5">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password" name="password" required>
                   </div>
        <button type="submit"class="btn btn-primary">Submit</button>
    </form>
</div> -->