{% extends './base.html' %}
{% load static %}


{% block navbar %}
<!-- Empty navbar block to hide navbar -->
{% endblock %}

{% block content %}
    <h2>Reset your password </h2>
    {% if validlink %}
    <p> Please enter your new password twice: </p>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Change my password"></p>
    <!-- <button type="submit">Reset Password</button> -->
</form>
{% else %}
<p> The password reset link was invalid, maybe because it has been already used. Please request a new password reset. </p>
{% endif %}
{% endblock %}

