{% extends './base.html' %}
{% load static %}

{% block navbar %}
<!-- Empty navbar block to hide navbar -->
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center">Forgot Your Password?</h2>
                    <p class="text-center">Enter your email address, and we'll send you a link to reset your password.</p>

                    {% if messages %}
                        <div class="alert alert-info">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="mt-4" method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="email">Enter Your Email Address</label> <!-- Custom label -->
                            {{ form.email }} <!-- Email input field -->
                        </div>

                        <div class="text-center">
                            <input type="submit" class="btn btn-primary btn-block" value="Send Reset Link">
                        </div>
                    </form>

                    <hr>

                    <div class="text-center">
                        <p class="mb-2">I remember my password</p>
                        <a href="{% url 'login' %}" class="btn btn-link">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
