{% extends './base.html' %}
{% load static %}


{% block navbar %}
<!-- Empty navbar block to hide navbar -->
{% endblock %}

{% block content %}
    <h2>Password Link Sent </h2>
    <p>We've sent a password email instructions to ... Please make sure you entered your registered email.</p>
    <br>
    <br>
    <p> Didn't receive any email? Check junl mail or spam folder or 
        <a href="{% url 'password_reset' %}"> Click here to send another link </a>
    </p>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

{% endblock %}

