{% extends './base.html' %}
{% load static %}

{% block navbar %}
<!-- Empty navbar block to hide navbar -->
{% endblock %}

{% block content %}
<div class="container">
    <!-- Your signup form goes here -->
    <h2>Sign Up</h2>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}

        {{form.password1.label}}
        {{form.password1}}

        {{form.password2.label}}
        {{form.password2}}
        <button type="submit" class="btn btn-success">Register Here Now</button>
    </form>
</div>

{% endblock %}

